.header {
  width: 100vw;
  height: 72px;
  position: fixed;
  background: rgb(155,2,209);
  background: linear-gradient(180deg, rgba(155,2,209,1) 0%, rgba(180,0,207,1) 100%);
  text-align: center;
}

.avatar {
  float: right;
}

.headerVoid {
  height: 72px;
}

.description {
  background: linear-gradient(180deg, rgba(180,0,207,1) 0%, #ff00cc 100%);
}