.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  color: #562598;
  text-align: center;
}

.logo {
  width: 40vw;
}

.button {
  width: 100%;
  margin-top: 24px;
  border: none;
  color: white;
  background: #4ec4d0;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
}
